.dashboard {
  display: flex;
}

.dashboard-wrapper {
  flex: 10;
  margin-left: 20px;
  align-content: right;
}

.dashboard-wrapper h1{
  margin-top: 146px;
  margin-bottom: 53px;
}

.btnd{
  background-color: #AF44F1;
  text-align: left;
  width: 254px;
  height: 168px;
}

.btnd h3{
  color: white;
  padding-left: 16px;
  padding-top: 21px;
}


.btnd img{
  opacity: 0.5;
}

.total-pets{
  border: none;
}